/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Estiliza o corpo da página */
body {
    font-family: "Chakra Petch", sans-serif; 
    background-color: #DDDDDD; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    margin: 100px;
    padding: 100px;
    background-image: url(/bi1.gif);
    background-size: contain; no repeat;
    
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 2,5rem;
    color: #222831;
    text-align: center; 
    letter-spacing: 0.4rem; 
    text-transform: capitalize;
    
}

h2{
    font-size: 18px;
    color: #222831;
    text-align: center; 
    letter-spacing: 0.4rem; 
}
/* Estiliza as seções da página */
section {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 3rem; 
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 80%; 
    border: none; 
    padding: 1rem; 
    border-radius: 1.5rem;
    margin-bottom: 1rem; 
    color: #45474B;
    font-size: 1rem;
    box-sizing: border-box; 
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; 
    border: none;
    border-radius: 1.5rem;
    background-color: #30475E;
    color: #F5F7F8; 
    font-size: 1rem;
    cursor: pointer; 
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem;
    height: 60vh; /* Ajuste a altura conforme necessário */
    margin-top: 1rem; 
    padding: 1rem; 
    border-radius: 0.6rem; 
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: #FFFFFF;
    border-radius: 0.6rem; 
    padding: 1.5rem; /* Ajuste o padding conforme necessário */
    margin-bottom: 1.5rem; /* Ajuste a margin conforme necessário */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estiliza o rodapé da página */
footer {
   
    color: #fafafa; 
    text-align: right; 
    padding: 1rem 0; 
    width: 100%; 
    position: fixed; 
    bottom: 0; 
    font-size: 1rem; 
}
@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Tamanho da fonte em telas menores */
        letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
    }

    section input {
        width: 25rem; /* Largura dos inputs em telas menores */
        padding: 0.8rem; /* Espaçamento interno em telas menores */
    }

    .resultados-pesquisa {
        width: 40rem; /* Largura da caixa de resultados em telas menores */
        height: 40vh; /* Altura da caixa de resultados em telas menores */
    }

    .item-resultado h2 {
        font-size: 1.3rem; /* Tamanho da fonte dos títulos em telas menores */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem; /* Tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem; /* Espaçamento entre letras em telas pequenas */
    }

    section input {
        width: 17rem; /* Largura total dos inputs em telas pequenas */
    }

    section button {
        padding: 0.6rem 1rem; /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem; /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa {
        width: 90%; /* Largura da caixa de resultados em telas pequenas */
        height: 50vh; /* Altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem; /* Tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 0.9rem; /* Tamanho da fonte do rodapé em telas pequenas */
    }
}



